 {% extends "business_listings/layout.html" %}

 {% block body %}
      <h3>{{business.business}} Business Profile</h3>

                   

                   <!-- Display Team details -->
                   {% if team_objects %}
                   <h4>Meet The Team</h4>
                   <ul>
                       {% for team_member in team_objects %}
                           <li>{{ team_member.first }} {{ team_member.last }} - {{ team_member.position }}</li>
                       {% endfor %}
                   </ul>
                   {% else %}
                   <p>No team members found for this business.</p>
                   {% endif %}

                   <div class ="">

                   <form method="POST" action="{% url 'business_listings:submit_review' business_id=business.id %}" class = "form">
    
                   {% csrf_token %}
                    <h5 class = "form_title">Write Your Review</h5>
          
                    <br>
                                  <div class="rate">
                                      <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
                                      <input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
                                      <input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
                                      <input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
                                      <input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
                                      <input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
                                      <input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
                                      <input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
                                      <input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
                                      <input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
                                  </div>
          <br>
                    <div class = "container">
                      
                      <input type = "text" class = "form-control" name = "subject" placeholder = "Review Title">
                      <br>
                      <textarea name = "review" rows= "11"  cols = "31"></textarea>
                      <br>
                      <input type="submit" value="Submit Review" class = "submitBtn">
          
                    </div>
          
          
                    
                    
          
                    
                </form>
            </div>
                <br><br>

                   <a href="{% url 'business_listings:index' %}">Back To Feed</a>
               {% endblock %} 


        