
          {% extends "business_listings/layout.html" %}

              {% block body %}
                <div class="hero">
                  <section class="hero-left">
                    <h1>Explore, Connect, and Discover: Your Gateway to Local Businesses</h1>
                    <p>
                      Discover a dynamic fusion of technology and community at TechFusion. Explore innovative solutions and foster connections within our vibrant tech-centric ecosystem. Join us in shaping the future of connectivity.
                    </p>
            
                    <a href="{% url 'signup:signup' %}">Get Started</a>
                  </section>
            
                  
                </div>

                <h1>Feed</h1>
                <ul class="business-list">
               
                    
                  

                  {% for business in businesses %}
    <div class="profile">
        <div class="business-name">
            <h2 class = "business-item">{{ business.business }}</h2>
        </div>
        <div class="business-description">
            <p>{{ business.description }}</p>
        </div>
        <br><br>
        {% if bu %}
        <h3>Reviews:</h3>
        <ul>
            {% for review in business_reviews.business %}
                <li>{{ review.subject }} - Rating: {{ review.rating }}</li>
                <!-- Display other review details as needed -->
            {% endfor %}
        </ul>
    {% else %}
        <p>No reviews available for this business.</p>
    {% endif %}



        
        <div class="business-actions">
            <a href="{% url 'business_listings:busp' business.id %}" class="btn btn-primary">Profile</a>
        </div>
    </div>
    <br><br><br>
{% endfor %}
                </ul>
              {% endblock %}
              